<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/r3alfak3">Stefan</a>. Two web developers with the same name. They have been in a constant struggle with themselves since the dot com evolution.
  </p>
  <br />
  <p>
    Sophisticated Stefan worked behind a desk and was frustrstrated with many of the different issues with early tech. He did his best at keeping his cool & helping improve everyday issues designers would come across. Mixtape Misfit Stefan is an artist with no formal training. At the age of 17, he was al ready setting up galleries & producing murals with a workd famous artist. Now, MM Stefan is enjoying the country life while he amasses a colection of his own.
  </p>
  <br class="clear">

  <div class="row">
    <div class="col-12 col-sm-4 text-center text-md-left">
      <%= image_tag 'sophisticated-stefan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sophisticated Stefan</h2>
      <br />
      <p class="text-justify">
        Stefan is an graphic designer in advertising, architectural/engineering, as well as hospitality. His work for advertising in NYC has developed new ways to approach old concepts. He converted real estate ads into digital empires & increased the classifieds by distributing them online. For the past few years, he helped brand & build restaurants in Queens & Manhattan.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row pt-5">
    <div class="col-12 col-sm-4 text-center text-md-left">
      <%= image_tag 'mixtape-misfit-stefan.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mixtape Stefan</h2>
      <br />
      <p class="text-justify">
        Stefan worked with a well know artist from the 70's. He learned basic skills as well as art world politics of NYC. He has a piece hanging in the Bronx Museum, a mural across from the old Yankee stadium & paintings haning in mansions in LA. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />