@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Anton);
@import "scss.scss";

header {
  border-top: 9px solid #222222;
}

body {
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;  
}

.ap {  
  font-family: "Anton", sans-serif;
}

h1 {
}

h2 {
  }

h2 span {
  color: #DDDDDD;
}

hr {
  border: 2px solid #CCCCCC;
  clear: both;
}

.footer-blurb {
  font-style: italic;
  font-weight: bold;
  line-height: 14px;
  margin-top: 20px;
  text-align: center;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #DFDFDF;
}

.logo:hover {
  text-decoration: none;
}

.modal {
}

.next-quote {
  color:#f84342;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

h1.quote-author {
  font-weight: bold;
}

.fun {
  background-color: rgba(45,45,45,.25);
}

.slogan {
  font-size: 23px;
  font-style: italic;
  font-weight: normal;
  padding-top: 36px;
}

@media (max-width: 750px) {
  .footer {
    height: 110px;;
  }
}

::selection {
  background-color: #f84342;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #EEEEEE;
    height: 85px;
    background-color: #ff0000;
  a{color:white;}
}

.clear {
  clear: both;
}

.page-bod {
  z-index: -9001;
}

.page-bod:before {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -9002;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}