@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald');

header {
  border-top: 9px solid #222222;
}

h1 {
  font-family: "Oswald", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Oswald", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
 letter-spacing: 1.5px;
  }

h2 span {
  color: #DDDDDD;
}

hr{
  border: 2px solid #CCCCCC;
  clear: both;
}

.about {
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.footer-blurb {
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 14px;
  margin-top: 20px;
  text-align: center;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #DFDFDF;
}

.logo:hover {
  text-decoration: none;
}

.modal {
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.next-quote {
  color:#f84342;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

h2.quote-author {
  font-family: "kingthings_petrockregular", serif;
  margin-right: 35px;
}

.slogan {
  font-family: "EB Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  padding-top: 36px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align:left;
  }
}

@media (max-width: 750px) {
  .footer {
    height: 110px;;
  }
}

::selection {
  background-color: #f84342;
}

.clear {
  clear: both;
}